<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>402779344129-f4js1nl1r8f7mkc0l86ngnlfq1fsrsnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402779344129-f4js1nl1r8f7mkc0l86ngnlfq1fsrsnj</string>
	<key>API_KEY</key>
	<string>AIzaSyCXdVN66-r-e9xTILSvqfeh5tNJKiU3iAI</string>
	<key>GCM_SENDER_ID</key>
	<string>402779344129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krao.RatFinder-ios</string>
	<key>PROJECT_ID</key>
	<string>rat-app-2340t10</string>
	<key>STORAGE_BUCKET</key>
	<string>rat-app-2340t10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402779344129:ios:fd044ffebfab1ff7</string>
	<key>DATABASE_URL</key>
	<string>https://rat-app-2340t10.firebaseio.com</string>
</dict>
</plist>